<%- include("partials/_header")  %>

<div class="container">
    <br><br><br>
    <h1 class="text-center">Task Manager</h1>
    <h2 class="text-center">Proyecto 1</h2><br>
    <div align="center"><img src="linux3d.png"></div> <br>
    <h2 class="text-center">Sistemas Operativos 1</h2>
    <h2 class="text-center">Escuela de Vacaciones, Junio 2020</h2>
</div>

<%- include("partials/_footer")  %>