<%- include("partials/_header")  %>


<div class="container">
    <br>
    <h1 class="text-center">Memory Monitor</h1>
    <br>
</div>

<div class="text-center">
    <label class="text-center">Total Server RAM: </label>
    <input type="text" id="total" disabled size="8"></input>
    <label id="lateral"></label>
    <label class="text-center">Total RAM Consumed: </label>
    <input type="text" id="consumida" disabled size="8"></input>
    <label id="lateral"></label>
    <label class="text-center">Free RAM: </label>
    <input type="text" id="free" disabled size="8"></input>
    <label id="lateral"></label>
    <label class="text-center">% Consumption: </label>
    <input type="text" id="porcentaje" disabled size="8"></input>
</div>

<br><br>

<div class="grafica" style="margin: auto;">
    <div id="chart_div" style="width: 1000px; height: 500px; float: left;"></div>
    <div class="chart_div" id="Medidores" style="width: 480px; height: 400px; float: right;"> </div>
</div>


<!--        SCRIPT CON EL CODIGO        -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     
<script type="text/javascript">

    var cont = 1;
    var etiqueta = "-";
    var porcentaje = 0;
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.load('current', { 'packages': ['gauge'] });
    google.charts.setOnLoadCallback(drawVisualization);
    //google.charts.setOnLoadCallback(drawChart);

    function drawVisualization() {
        /*      CODIGO PARA LA FRAFICA      */
        var data = google.visualization.arrayToDataTable([
            ['Seconds', "Consumo(MB)", "Consumo(MB)"],
            ['0', 0, 0]
        ]);
        var options = {
            title: 'Server Memory Consumption',
            vAxis: { title: 'Consumption (MB)' },
            hAxis: { title: 'Time (0.5 s)' },
            seriesType: 'bars',
            series: { 1: { type: 'line' } },
            backgroundColor: '#FADDD7'
        };
        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        setInterval(function () {
            var JSON = $.ajax({
                url: "http://localhost:3000/memoria",
                dataType: 'json',
                async: false
            }).responseText;
            var Respuesta = jQuery.parseJSON(JSON);


            //console.log(Respuesta)

            var total = Respuesta.Total_mem;
            var free = Respuesta.Free_mem;
            var consumida = total - free;
            porcentaje = consumida / (total / 100);
            console.log("% consumo: " + porcentaje)
            etiqueta = "" + consumida;

            document.getElementById("total").value = total + " MB";
            document.getElementById("consumida").value = consumida + " MB";
            document.getElementById("free").value = free + " MB";
            document.getElementById("porcentaje").value = porcentaje.toFixed(2) + " %";

            //data.addRow(["" + (cont++), porcentaje, porcentaje]);
            data.addRow(["" + (cont++), consumida, consumida]);
            if (data.getNumberOfRows() == 60) {
                data.removeRow(0);
            }
            chart.draw(data, options);
        }, 500);


    }

    google.charts.load('current', { 'packages': ['gauge'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['%RAM', 0]
        ]);
        var options = {
            width: 400, height: 400,
            redFrom: 90, redTo: 100,
            yellowFrom: 75, yellowTo: 90,
            minorTicks: 5
        };
        var chart = new google.visualization.Gauge(document.getElementById('Medidores'));
        chart.draw(data, options);
        setInterval(function () {
            data.setValue(0, 1, parseFloat(porcentaje.toFixed(2)));
            chart.draw(data, options);
        }, 700);
    }
</script>



<%- include("partials/_footer")  %>